<%-include("../partials/AdminHeader")-%>

        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <div>
                        <style>
                         .succmsg{
                             background-color: aquamarine;
                             text-align: center;
                             color: white;
                         }
                         .errmsg{
                             background-color: rgb(236, 109, 109);
                             text-align: center;
                             color: white;
                         }
                         
                        </style>
                         <% if(errmsg){%>
                             <p class="errmsg" id="errmsg"><%= errmsg%></p>
                             <%}else{%>
                                 <p class="succmsg" id="succmsg"><%= succmsg%></p>
                             <%}%>
                     </div>
                    <form action="/admin" method="post" onsubmit="return adminLog ()"> 
                        <style>
                            small{
                            color: red;
                        }
                        </style>
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" value="Rijo@827" type="text" name="Username" id="Username" >
                            <small id="UserNameError"></small>

                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" value="Rijojoy@827" name="Password" id="password">
                            <small id="passwordError"></small>

                        </div> <!-- form-group// -->
                        <!-- form-group form-check .// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100" > Login </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>
        <%-include("../partials/AdminFooter")-%>
