<%-include("../partials/UserHeader")-%>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login 
                    <span></span> Reset Password
                </div>
            </div>
        </div>
        <section class="pt-100 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-7">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30 text-center">Reset Password</h3>
                                        </div>
                                        <div>
                                            <style>
                                             .succmsg{
                                                 background-color: aquamarine;
                                                 text-align: center;
                                                 color: white;
                                             }
                                             .errmsg{
                                                 background-color: rgb(236, 109, 109);
                                                 text-align: center;
                                                 color: white;
                                             }
                                            </style>
                                             <% if(errmsg){%>
                                                 <p class="errmsg" id="errmsg"><%= errmsg%></p>
                                                 <%}else{%>
                                                     <p class="succmsg" id="succmsg"><%= succmsg%></p>
                                                 <%}%>
                                         </div>
 
                                        <style>
                                            small{
                                                color: red;
                                            }
                                        </style>
                                        <form method="post" action="/resetuserpassword" onsubmit="return forgotPasswordvalid()">
                                            
                                            <div class="form-group">
                                                <input type=""  name="Email" placeholder="Email" id="Email">
                                                <small id="emailError"></small>

                                            </div>
                                            <style>
                                                .otp-countdown{
                                                    display: inline-block;
                                                    margin: 0 auto;
                                                  padding: 8px 30px;
                                                  background-color: #333;
                                                  border-radius: 50px;
                                                  color: #fff;
}
                                            </style>
                                            <div class="form-group">
                                                <div class="input-group">
                                                  <input type="text" class="form-control"  name="otp" placeholder="OTP" id="Otp">
                                                   <label for="form-control">
                                                    <div class="otp-countdown"  id="timer-countdown" style="display: none;">00:30</div>
                                                   </label>
                                                  <div class="input-group-append">
                                                   
                                                    <button class="btn btn-primary" type="button" onclick="sendOTP()" id="sendOTPButton">Send OTP</button>
                                                    <button class="btn btn-primary" type="button" onclick="sendOTP()" style="display: none;" id="resendOTPButton">Resend OTP</button>
                                                  </div>
                                                </div>
                                                <small id="otpError"></small>
                                              </div>
                                            <div class="form-group">
                                                <input type="password"  name="newPassword" placeholder="New Password!" id="password1">
                                                <small id="passwordError"></small>
                                            </div>
                                            <div class="form-group">
                                                <input  type="password" name="Cpassword" placeholder="Confirm Password" id="c1password">
                                                <small id="confirmPasswordError"></small>
                                            </div>
                                            <div class="form-group p-20 d-flex justify-content-around" >
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include("../partials/UserFooter")-%>  
    <script>

let minutes = 0;
let seconds = 20;

function restartCountdown() {
    // Reset the countdown to the initial values
    minutes = 0;
    seconds = 20;
    // localStorage.setItem('countdownTimestamp', Date.now()); // Store the current timestamp
    updateCountdown();
}

function updateCountdown() {
    const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
    const formattedSeconds = seconds < 10 ? '0' + seconds : seconds;
    document.getElementById('countdown').innerText = formattedMinutes + ':' + formattedSeconds + ' minutes remaining.';
}

function countdown() {
    if (minutes === 0 && seconds === 0) {
        // Timer reached 0:00
        // Perform actions when the timer reaches zero
        // alert('Timer reached 0:00!');

        Swal.fire({
                icon: 'warning',
                title: 'Otp Expired',
                text: 'Your Otp has Expired.',
            });

    } else {
        if (seconds === 0) {
            minutes--;
            seconds = 59;
        } else {
            seconds--;
        }

        updateCountdown();
        setTimeout(countdown, 1000); // Update every second
    }
}




let timer;

function startTimer() {
    console.log("startTimer");
    document.getElementById('sendOTPButton').style.display = 'none';
    document.getElementById('resendOTPButton').style.display = 'inline-block';
    document.getElementById('resendOTPButton').disabled = true;
    // document.getElementById('countdown').style.display = 'inline-block';
    // countdown();

    if ($('#timer-countdown').length) {
        const timer = document.getElementById("timer-countdown");
        timer.style.display = 'inline-block';

    function countdown( elementName, minutes, seconds )
    {
        var element, endTime, hours, mins, msLeft, time;
        function twoDigits( n )
        {
            return (n <= 9 ? "0" + n : n);
        }
        function updateTimer()
        {
            msLeft = endTime - (+new Date);
            if ( msLeft < 1000 ) {
                element.innerHTML = "Time is up!";
            } else {
                time = new Date( msLeft );
                hours = time.getUTCHours();
                mins = time.getUTCMinutes();
                element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
            }
        }
        element = document.getElementById( elementName );
        endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
        updateTimer();
    }
    countdown( "timer-countdown", 0, 30 );
}


    timer = setTimeout(() => {
        document.getElementById('resendOTPButton').disabled = false;
        
        Swal.fire({
                icon: 'warning',
                title: 'Otp Expired',
                text: 'Your Otp has Expired.',
            });
        // countdown();
    }, 30 * 1000); 
}
// 5 * 60 * 1000
    function sendOTP() {
        console.log("send OTP");
      const Email = document.getElementById("Email").value
      const emailError = document.getElementById("emailError")
      let isValid = true;
    const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;

      function clearErrorWithDelay(errorField) {
       setTimeout(() => {
          errorField.innerHTML = '';
       }, 5000); // 5000 milliseconds = 5 seconds
    }
    function validateEmail() {
       if (Email.trim() === '') {
          emailError.innerHTML = 'Email cannot be empty';
          clearErrorWithDelay(emailError);
          isValid = false;
       } else if (!emailRegex.test(Email)) {
          emailError.innerHTML = 'Please enter a valid email';
          clearErrorWithDelay(emailError);
          isValid = false;
       } else {
          emailError.innerHTML = ''; // Clear error message
       }
       return isValid
    }
 
        if(validateEmail()){
            fetch('/send-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ Email: Email }),
            })

            Swal.fire({
                icon: 'info',
                title: 'OTP Send',
                text: 'Otp has been sent to your e-mail.',
            });
            startTimer()
            if(minutes == 0 && seconds == 0){
                restartCountdown()
            }

        }
}
        </script>